<!-- 底部 -->
<footer>
  <section class="container">
    <main class="row">
      <div class="col-md-4 foot-logo">
        <img src="<%=htmlWebpackPlugin.options.path%>static/img/foot/foot_logo@2x.png">
      </div>
      <ul class="contact-list col-md-4">
        <li>
          <a href="<%=htmlWebpackPlugin.options.i18n.telegram_link%>" target="_blank" rel="noreferrer">
            <span class="contact-icon"><img
                src="<%=htmlWebpackPlugin.options.path%>static/img/foot/sns_icon_telegram@2x.png"></span>
            <span>Telegram</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/MediShares" target="_blank" rel="noreferrer">
            <span class="contact-icon"><img
                src="<%=htmlWebpackPlugin.options.path%>static/img/foot/sns_icon_github@2x.png"></span>
            <span>GitHub</span>
          </a>
        </li>
        <li>
          <a href="<%=htmlWebpackPlugin.options.i18n.twitter_link%>" target="_blank" rel="noreferrer">
            <span class="contact-icon"><img
                src="<%=htmlWebpackPlugin.options.path%>static/img/foot/sns_icon_twitter@2x.png"></span>
            <span>Twitter</span>
          </a>
        </li>
        <li>
          <a href="<%=htmlWebpackPlugin.options.i18n.weibo_kakao_link%>" target="_blank" rel="noreferrer">
            <span class="contact-icon"><img src="../<%=htmlWebpackPlugin.options.i18n.weibo_kakao_icon%>"></span>
            <span><%=htmlWebpackPlugin.options.i18n.weibo_kakao%></span>
          </a>
        </li>
        <li>
          <a href="mailto:hello@medishares.org">
            <span class="contact-icon"><img
                src="<%=htmlWebpackPlugin.options.path%>static/img/foot/sns_icon_email@2x.png"></span>
            <span><%=htmlWebpackPlugin.options.i18n.email%></span>
          </a>
        </li>
        <li>
          <a href="<%=htmlWebpackPlugin.options.i18n.blog_link%>" target="_blank" rel="noreferrer">
            <span class="contact-icon"><img
                src="<%=htmlWebpackPlugin.options.path%>static/img/foot/sns_icon_blog@2x.png"></span>
            <span><%=htmlWebpackPlugin.options.i18n.blog%></span>
          </a>
        </li>
        <li>
          <a href="javascript:;" class="qq">
            <span class="contact-icon"><img src="../<%=htmlWebpackPlugin.options.i18n.qq_kakao_icon%>"></span>
            <span><%=htmlWebpackPlugin.options.i18n.qq_kakao%></span>
            <div class="qq-code"><img src="../<%=htmlWebpackPlugin.options.i18n.qq_kakao_code%>" width="100%"></div>
          </a>
        </li>
      </ul>
      <div class="col-md-4 code-img">
        <img src="../<%=htmlWebpackPlugin.options.path%>static/img/foot/qr_code.png">
        <div class="code-tip">
          <%=htmlWebpackPlugin.options.i18n.join_group%>
        </div>
      </div>
    </main>
    <p class="copyright">© 2020 MediShares Foundation Ltd. All rights reserved. <a style="color:#607d8b;text-decoration: underline;" href="http://medishares.oss-cn-hongkong.aliyuncs.com/media/MDS_media_kit.zip">Download Media Kit</a></p>
  </section>
</footer>