<section class="roadmap">
  <div class="container">
    <h3>
      <%=htmlWebpackPlugin.options.i18n.roadmap%>
    </h3>
  </div>
  <article id="wrapper">
    <main id="scroller">
      <div class="scroll-box">
        <ul class="clearfix mds-develop-list">
          <li>
            <time class="dev-date">2018 Q1</time>
            <ul class="dev-des">
              <li>
                <%=htmlWebpackPlugin.options.i18n.roadmap_step1%>
              </li>
            </ul>
          </li>
          <li>
            <time class="dev-date">2018 Q2</time>
            <ul class="dev-des">
              <li>
                <%=htmlWebpackPlugin.options.i18n.roadmap_step2_1%>
              </li>
              <li>
                <%=htmlWebpackPlugin.options.i18n.roadmap_step2_2%>
              </li>
              <li>
                <%=htmlWebpackPlugin.options.i18n.roadmap_step2_3%>
              </li>
            </ul>
          </li>
          <li>
            <time class="dev-date">2018 Q3</time>
            <ul class="dev-des">
              <li>
                <%=htmlWebpackPlugin.options.i18n.roadmap_step3_1%>
              </li>
              <li>
                <%=htmlWebpackPlugin.options.i18n.roadmap_step3_2%>
              </li>
            </ul>
          </li>
          <li>
            <time class="dev-date">2018 Q4</time>
            <ul class="dev-des">
              <li>
                <%=htmlWebpackPlugin.options.i18n.roadmap_step4_1%>
              </li>
              <li>
                <%=htmlWebpackPlugin.options.i18n.roadmap_step4_2%>
              </li>
            </ul>
          </li>
          <li>
            <time class="dev-date">2019 Q1</time>
            <ul class="dev-des">
              <li>
                <%=htmlWebpackPlugin.options.i18n.roadmap_step5_1%>
              </li>
              <li>
                <%=htmlWebpackPlugin.options.i18n.roadmap_step5_2%>
              </li>
              <li>
                <%=htmlWebpackPlugin.options.i18n.roadmap_step5_3%>
              </li>
            </ul>
          </li>
          <li>
            <time class="dev-date">2019 Q2</time>
            <ul class="dev-des">
              <li>
                <%=htmlWebpackPlugin.options.i18n.roadmap_step6_1%>
              </li>
              <li>
                <%=htmlWebpackPlugin.options.i18n.roadmap_step6_2%>
              </li>
              <li>
                <%=htmlWebpackPlugin.options.i18n.roadmap_step6_3%>
              </li>
              <li>
                <%=htmlWebpackPlugin.options.i18n.roadmap_step6_4%>
              </li>
            </ul>
          </li>
          <li>
            <time class="dev-date">2019 Q3</time>
            <ul class="dev-des">
              <li>
                <%=htmlWebpackPlugin.options.i18n.roadmap_step7_1%>
              </li>
              <li>
                <%=htmlWebpackPlugin.options.i18n.roadmap_step7_2%>
              </li>
            </ul>
          </li>
          <li>
            <time class="dev-date">2019 Q4</time>
            <ul class="dev-des">
              <li>
                <%=htmlWebpackPlugin.options.i18n.roadmap_step8_1%>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </main>
  </article>
</section>